@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Bebas+Neue&family=Open+Sans:wght@700&display=swap');

*::before,
*,
*::after {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     --color-0: #fff;
     --color-1: #1033ff;
     --color-2: #111;
     --font-type-1: 'Open Sans', sans-serif;
     --font-type-2: 'Bebas Neue', sans-serif;
     --font-type-3: 'Aref Ruqaa Ink', serif;
}

body {
     z-index: 1;
     width: 100vw;
     height: 100vh;
     font-family: var(--font-type-1);
}

.app {
     z-index: 1;
     width: 100%;
     height: 100%;
     overflow: hidden;
}

.nav {
     position: relative;
}

.nav {
     position: absolute;
     z-index: 3;
     display: flex;
     flex-direction: column;
     list-style: none;
     background-color: var(--color-1);
     font-size: 1.6rem;
     width: 100vw;
     height: 100vh;
     transform: translateX(-100%);
     opacity: 0;
}

.nav>li {
     display: flex;
     width: 100%;
     height: 100%;
     border: none;
     outline: none;
}

.nav>li>a {
     color: #fff;
     display: flex;
     width: 100%;
     height: 100%;
     justify-content: center;
     align-items: center;
     text-decoration-line: none;
     cursor: pointer;
     user-select: none;
     border: none;
     outline: none;
     transition: all ease-in-out 100ms;
}

.nav>li>a:hover {
     background-color: #0005;
}

.nav>li>a:active {
     background-color: #0009;
}

.header {
     z-index: 1;
     display: flex;
     width: 100%;
     height: 4.5rem;
     flex-shrink: 0;
     background-color: var(--color-1);

}

.header>.btn-menu {
     position: relative;
     display: flex;
     flex-direction: column;
     flex-shrink: 0;
     width: 4.5rem;
     height: 4.5rem;
     border: none;
     color: #fffa;
     background-color: #0000;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}
.header>.btn-menu>.btn-menu-bars {
     position: relative;
     display: flex;
     height: 3px;
     width: 45%;
     border-radius: 3px;
     background-color: currentColor;
     margin: 3px;
}

.header>.btn-menu:hover {
     background-color: #0005;
}

.header>.btn-menu:active {
     color: white;
}

.header>.title {
     display: flex;
     align-items: center;
     justify-content: right;
     text-align: center;
     width: 100%;
     height: 100%;
     color: var(--color-0);
     font-size: 1.5rem;
     font-family: var(--font-type-2);
     padding-right: 1rem;
}

.main {
     position: relative;
     z-index: 1;
     display: flex;
     flex-direction: column;
     width: 100%;
     height: calc(100% - 4.5rem);
     background-color: #fff;
     overflow-y: auto;
}

.main>.footer {
     background: linear-gradient(to bottom, var(--color-1), var(--color-2));
     color: white;
}

.main>.footer>.aviso {
     align-items: center;
     background-color: #0005;
     outline: 5px solid #fff5;
     border-radius: 1rem;
     color: white;
     display: flex;
     font-size: 1.3rem;
     justify-content: center;
     height: 150px;
     margin: 4rem auto;
     max-width: 400px;
     padding: 1.5rem;
     text-align: center;
     width: 80%;
     font-weight: 900;
}

.main>.footer>.links {
     display: flex;
     justify-content: center;
}

.main>.footer>.links>.btn-icons {
     width: 100%;
     height: 100%;
     max-width: 4rem;
     max-height: 4rem;
     border: none;
     cursor: pointer;
     background-color: #0000;
}

.main>.footer>.links>.btn-icons>.icons {
     color: #fff8;
     fill: currentColor;
     padding: 1rem;
}

.main>.footer>.links>.btn-icons>.icons:hover {
     background-color: #0005;
}

.main>.footer>.links>.btn-icons>.icons:active {
     color: #fff;
}

.main>.sections {
     display: flex;
     flex-direction: column;
     flex-shrink: 0;
     width: 100%;
     height: 100vh;
}
.main>.sections>ul>li>a{
     color: black;
}
.main>.sections>ul>li>a:hover{
     color: var(--color-1);
}
.main>.sections>ul>li>a:focus{
     color: goldenrod;
}

.main>.sections>h2 {
     display: flex;
     width: 100%;
     height: fit-content;
     background-color: var(--color-1);
     padding: 1rem 0;
     color: white;
     align-items: center;

}

.main>.sections>h2>svg {
     fill: var(--color-1);
     width: 3rem;
     height: 3rem;
     border-radius: 50%;
     background-color: white;
     padding: 4px;
     margin: 0 1rem;
}

.main>.sections>.lists {
     display: flex;
     flex-direction: column;
     padding: 2rem 3rem;
     list-style: none;
}

.main>.sections>.lists>li {
     padding: 0 0 1rem 0;
}

.main>.sections>.lists>li:before {
     content: '\2756';
     display: inline-flex;
     height: fit-content;
     width: fit-content;
     align-items: center;
     justify-content: center;
     margin-right: 0.75rem;
     color: var(--color-1);
     font-size: 1.2rem;
}

.main>.sections>.info {
     display: flex;
     flex-direction: column;
     font-size: 0.8rem;
}

.main>.sections>.info>div {
     display: flex;
     flex-direction: column;
     margin-bottom: 2rem;
}

.main>.sections>.info>div>h3 {
     font-size: 1.2rem;
     margin: 2rem 0 1rem 1.5rem;
     width: fit-content;
     height: fit-content;
}

.main>.sections>.info>div>p {
     width: fit-content;
     margin: 0 3rem 1rem 3rem;
}

.main>.sections>.info>div>p>span {
     text-decoration: underline;
     cursor: pointer;
}

.main>.sections>.info>div>p>span:hover {
     color: var(--color-1);
}

.main>.sections>.info>p {
     font-family: monospace;
     font-size: 90%;
     padding: 1rem;

     >span {
          text-decoration: underline;
     }
}

@media screen and (min-width: 700px) {
     .nav {
          max-width: 30%;
     }
}