.options {
     display: flex;
     align-items: center;
     margin: 5px;
     height: 1.5rem;
     justify-content: right;

}
#ampm-checkbox {
     color: #f00;
     display: flex;
     align-items: center;
     width: 2rem;
     border: 1px solid currentColor;
     box-shadow: 0 0 5px 2px currentColor,
          inset 0 0 5px 1px currentColor;
     border-radius: 1rem;
     cursor: pointer;
     overflow: hidden;
     transition: all ease-in-out 200ms;

}
.bar {
     --size: 0.8rem;
     display: flex;
     justify-content: right;
     align-items: center;
     margin: 1px;
     transition: all ease-in-out 200ms;
     width: var(--size);
     
     .ball {
          border-radius: 50%;
          background: radial-gradient(transparent ,currentColor);
          border: 1px solid #fffa;
          box-shadow: 0 0 5px 2px currentColor;
          width: var(--size);
          height: var(--size);
     }
}


.clock {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     width: 100%;
     height: 100px;
     color: white;
}

.clock>div {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
}

.clock>.current-time {
     height: 70%;
     cursor: auto;
}

.clock>.current-time>span {
     display: flex;
     height: 100%;
     width: fit-content;
     font-size: 4rem;
}
.clock > .current-time> .clock-ampm {align-items: center;}
.clock > .current-time> .clock-ampm > span {
     font-size: 0;
     transition: all ease-in-out 200ms;
}
.clock > .current-time> .clock-ampm.on > span {
     font-size: 1.5rem;
}
@media screen and (max-width: 325px) {
     .clock>.current-time>span{font-size: 3rem;}
     .clock > .current-time> .clock-ampm.on > span{font-size: 1rem;}
}
/*thecheckampm*/
#check-ampm {
     position: absolute;
     width: 2.5rem;
     height: 20px;
     top: 5px;
     right: 5px;
     cursor: pointer;
     opacity: 0;
}

.clock>.current-date>div {
     cursor: pointer;
     color: white;
     transition: all ease-in-out 80ms;
     border-radius: 1rem;
     padding: 2px 5px;
}
.clock>.current-date>div:hover {box-shadow: 0 0 10px;}
.clock>.current-date>div:active {scale: 1.1;}